name: Frontend CI/CD Pipeline

on:
  push:
    branches:
      - main
      - develop

jobs:
  build_and_push:
    name: Build and Push Frontend Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.USER_NAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Production Frontend Image
        if: github.ref == 'refs/heads/main'
        run: |
          docker build \
            --build-arg NODE_ENV=production \
            --build-arg NEXT_PUBLIC_BACKEND_URL=${{ secrets.NEXT_PUBLIC_BACKEND_URL }} \
            -t ghcr.io/intuition-business/timshel/admin:production .

      - name: Build Development Frontend Image
        if: github.ref == 'refs/heads/develop'
        run: |
          docker build \
            --build-arg NODE_ENV=development \
            --build-arg NEXT_PUBLIC_BACKEND_URL=${{ secrets.NEXT_PUBLIC_BACKEND_URL_DEV }} \
            -t ghcr.io/intuition-business/timshel/admin:dev .

      - name: Push Production Image
        if: github.ref == 'refs/heads/main'
        run: docker push ghcr.io/intuition-business/timshel/admin:production

      - name: Push Development Image
        if: github.ref == 'refs/heads/develop'
        run: docker push ghcr.io/intuition-business/timshel/admin:dev


  deploy_production:
    name: Deploy Frontend to Production
    runs-on: ubuntu-latest
    needs: build_and_push
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Install SSH tools
        run: sudo apt-get update && sudo apt-get install -y openssh-client sshpass

      - name: Decode SSH key
        run: |
          echo "${{ secrets.SERVER_SSH_KEY }}" | base64 -d > my_ssh
          chmod 400 my_ssh

      - name: Deploy Frontend on EC2
        run: |
          sshpass ssh -i my_ssh -o StrictHostKeyChecking=no ec2-user@${{ secrets.SERVER_IP }} << 'EOF'
            sudo docker login ghcr.io -u "${{ secrets.USER_NAME }}" -p "${{ secrets.DOCKER_PASSWORD }}"

            sudo docker pull ghcr.io/intuition-business/timshel/admin:production

            sudo docker stop timshel-admin || true
            sudo docker rm timshel-admin || true

            sudo docker run -d \
              --name timshel-admin \
              -p 3001:3000 \
              ghcr.io/intuition-business/timshel/admin:production
          EOF
