name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - develop

jobs:
  build_docker_image:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.USER_NAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Add environment variables to .env
      - name: Add environment variables to .env
        run: |
          # For Production (main branch)
          if [ "${GITHUB_REF}" == "refs/heads/main" ]; then
            echo "Setting production variables"
            echo PORT=${{ secrets.PORT }} >> .env
            echo NODE_ENV=${{ secrets.NODE_ENV }} >> .env
          fi

          # For Development (dev branch)
          if [ "${GITHUB_REF}" == "refs/heads/main" ]; then
            echo "Setting production variables"
            echo PORT=${{ secrets.PORT }} >> .env
            echo NODE_ENV=${{ secrets.NODE_ENV }} >> .env
          fi

          # Common environment variables for both
            echo "Setting production variables"
            echo "Setting production variables"
            echo PORT=${{ secrets.PORT }} >> .env
            echo NODE_ENV=${{ secrets.NODE_ENV }} >> .env
      # Validate .env file contents
      - name: Print .env file contents for debugging
        run: cat .env

      # Build Docker image for production
      - name: Build Production Docker image
        if: github.ref == 'refs/heads/main'
        run: docker build --build-arg NODE_ENV=production --build-arg env_port=3000 -t ghcr.io/intuition-business/timshel/admin:production .

      # Build Docker image for development
      - name: Build Development Docker image
        if: github.ref == 'refs/heads/dev'
        run: docker build --build-arg NODE_ENV=dev --build-arg env_port=3001 -t ghcr.io/intuition-business/timshel/admin:dev .

      # Push Production Docker image to registry
      - name: Push Production Docker image to registry
        if: github.ref == 'refs/heads/main'
        run: docker push ghcr.io/intuition-business/timshel/admin:production

      - name: Push Development Docker image to registry
        if: github.ref == 'refs/heads/dev'
        run: docker push ghcr.io/intuition-business/timshel/admin:dev

  # Job to deploy the application to production
  deploy_production:
    name: Deploy to Production
    runs-on: ubuntu-latest
    needs: build_docker_image
    if: github.ref == 'refs/heads/main'  # Only for the master branch
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH and SSHPass
        run: sudo apt-get update && sudo apt-get install -y openssh-client sshpass

      - name: Set up deployment directory
        run: |
          mkdir timshel-admin
          chmod +x timshel-admin
          mv docker-compose-production.yml timshel-admin/docker-compose.yml

      - name: Decode SSH Key and set permissions
        run: echo "${{ secrets.SERVER_SSH_KEY }}" | base64 -d > my_ssh && chmod 400 my_ssh

      - name: Copy files to server
        run: |
          sshpass scp -i my_ssh -o StrictHostKeyChecking=no -r timshel-admin ec2-user@${{ secrets.SERVER_IP }}:/home/ec2-user/

      - name: SSH and deploy
        run: |
          sshpass ssh -i my_ssh -o StrictHostKeyChecking=no ec2-user@${{ secrets.SERVER_IP }} \
          "cd /home/ec2-user/timshel-admin; \
           sudo docker login -u "${{ secrets.USER_NAME }}" -p ${{ secrets.DOCKER_PASSWORD }} ghcr.io/intuition-business/timshel/admin:production; \
           sudo docker compose down; \
           sudo docker image rm ghcr.io/intuition-business/timshel/admin:production; \
           sudo docker compose up -d;"

  # Job to deploy the application to development (testing)
  deploy_dev:
    name: Deploy to Development (Testing)
    runs-on: ubuntu-latest
    needs: build_docker_image
    if: github.ref == 'refs/heads/dev'  # Only for the dev branch
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH and SSHPass
        run: sudo apt-get update && sudo apt-get install -y openssh-client sshpass

      - name: Set up deployment directory
        run: |
          mkdir timshel-admin-dev
          chmod +x timshel-admin-dev
          mv docker-compose-dev.yml timshel-admin-dev/docker-compose.yml

      - name: Decode SSH Key and set permissions
        run: echo "${{ secrets.SERVER_SSH_KEY }}" | base64 -d > my_ssh && chmod 400 my_ssh

      - name: Copy files to server
        run: |
          sshpass scp -i my_ssh -o StrictHostKeyChecking=no -r timshel-admin-dev ec2-user@${{ secrets.SERVER_IP }}:/home/ec2-user/

      - name: SSH and deploy
        run: |
          sshpass ssh -i my_ssh -o StrictHostKeyChecking=no ec2-user@${{ secrets.SERVER_IP }} \
          "cd /home/ec2-user/timshel-admin-dev; \
           sudo docker login -u "${{ secrets.USER_NAME }}" -p ${{ secrets.DOCKER_PASSWORD }} ghcr.io/intuition-business/timshel/admin:dev; \
           sudo docker compose down; \
           sudo docker image rm ghcr.io/intuition-business/timshel/admin:dev; \
           sudo docker compose up -d;"